
[data-testid="stSidebar"] {
                background-image: url(https://i.ibb.co/mrs8qyh/image-removebg-preview.png);
                background-size: 200px;
                background-repeat: no-repeat;
                background-position: 4px 20px;
                background-color:  #d7e8eb;
            }




div.css-1r6slb0.e1tzin5v2 {
    background-color: #f9f7f2;
    border: 1px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
    
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    
}

label.css-mkogse.e16fv1kl2 {
    color: #36b9cc !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}

div.css-z5fcl4.e1g8pov64 {
    padding: 1rem 1rem 0rem;
}

.css-z5fcl4.eqr7zpz0 {
    margin-top=1px;
}
.css-10trblm {
    margin-left:40px;
}

.css-z5fcl4 {
    margin-left:60px;
  
}

.esravye2 {
text-align: center; 
}


